@page "/bungie"

<Alert @ref="AccountErrorAlert" Color="Color.Warning">
    No Bungie.net account found with that ID
    <CloseButton />
</Alert>
<Alert @ref="CharacterErrorAlert" Color="Color.Warning">
    No Destiny Characters found on this Bungie.net account
    <CloseButton />
</Alert>
<Alert @ref="UnlinkAlert" Color="Color.Warning">
    Bungie.net account has been unlinked
    <CloseButton />
</Alert>

@if (DiscordUserInfo.BungieId is null)
{
    <Card>
        <CardHeader>
            Link your Bungie.net account
        </CardHeader>
        <CardBody>
            <CardText>
                <Addons>
                    <Addon AddonType="AddonType.Start">
                        <TextEdit @bind-Text="@UserSubmitBungieDisplayName"/>
                    </Addon>
                    <Addon AddonType="AddonType.Body">
                    <AddonLabel>#</AddonLabel>
                    </Addon>
                    <Addon AddonType="AddonType.Body">
                        @* TODO: Validate the fields might need to make this one just bind and use an on change to validate it *@
                        <TextEdit @bind-Text="@UserSubmitBungieDisplayNameCode"/>
                    </Addon>
                    <Addon AddonType="AddonType.End">
                        @* TODO: disable button unless both fields are valid? *@
                        <Button Color="Color.Primary" Clicked="GetBungieProfile">Link</Button>
                    </Addon>
                </Addons>
            </CardText>
        </CardBody>
    </Card>
}
else
{
    <Card>
        <CardBody>
            <CardText>
                TODO: Future version will have emblems and stuff
            </CardText>
            <Button Clicked="ClearBungieProfile" Color="Color.Danger">Unlink Bungie.net Profile</Button>
        </CardBody>
    </Card>
    @if (PrimaryCharacterProfile != null)
    {
        <CardGroup>
            @foreach (var character in PrimaryCharacterProfile.Characters.Data.Values)
            {
                <Card>
                    <CardImage Source='@($"https://www.bungie.net{character.EmblemBackgroundPath}")'/>
                    <CardBody>
                        <CardTitle>@character.ClassType</CardTitle>
                        <CardText>@character.RaceType @character.GenderType</CardText>
                        <CardText>@character.Light</CardText>
                    </CardBody>
                </Card>
            }
        </CardGroup>
    }
}
